html {
  font: 14px Verdana, sans-serif;
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  position: relative;
  width: 980px;
}

.hide {
  display: none !important;
}

a {
  color: #000;
  text-decoration: underline;
}

a:visited {
  color: #000;
}

a:hover {
  cursor: pointer;
}
